name: RobotShop CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [ "web", "cart", "user", "catalogue",
                   "ratings", "payment", "shipping", "dispatch",
                   "redis", "rabbitmq", "mongodb", "mysql" ]

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build Docker image
      run: |
        cd ${{ matrix.service }}
        docker build -t ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/robot-shop-${{ matrix.service }}:latest .

    - name: Push image to ECR
      run: |
        docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/robot-shop-${{ matrix.service }}:latest

    - name: Update K8s Deployment Image
      run: |
        aws eks update-kubeconfig --name ${{ secrets.EKS_CLUSTER_NAME }} --region ${{ secrets.AWS_REGION }}

        kubectl set image deployment/${{ matrix.service }} \
          ${{ matrix.service }}=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/robot-shop-${{ matrix.service }}:latest \
          -n robot-shop

    - name: Verify Deployment
      run: |
        kubectl rollout status deployment/${{ matrix.service }} -n robot-shop
